<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @project.customer.company %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @project.created_by %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @project.created_at %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @project.updated_by %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @project.updated_at %>
</p>

<%= link_to 'Edit', edit_customer_project_path(@project.customer_id, @project.id) %> |
<%= link_to 'Back', customer_path(@project.customer_id) %>
